<div class="container">
  <div *ngIf="!loggedIn; else homePage">
    <h2>Don't know what game to play? <br/>
      <small class="text-muted">The Boy Os got you covered.</small>
    </h2>
    <h4><a [routerLink]="['/login']">Login to your Steam account to get started.</a></h4>
    <app-image-carousel></app-image-carousel>
  </div>

  <ng-template #homePage>
    <div>
      <h5>Logged in as {{currentSteamUser.personaname}}</h5>
      <img src="{{currentSteamUser.avatarfull}}"/>
      <app-game-list [steamID]="steamID" [sessionID]="sessionID" [personaName]="currentSteamUser.personaname"></app-game-list>
    </div>
  </ng-template>
</div>
