<div class="container w-100">
  <div *ngIf="!loggedIn && !loading">
    <h2>Don't know what game to play? <br/>
      <small class="text-muted">The Boy-Os got you covered.</small>
    </h2>
    <h4><a [routerLink]="['/login']">Login to your Steam account to get started.</a></h4>
    <app-image-carousel></app-image-carousel>
  </div>
  
  <ng-container *ngIf="loading">
    <div class="my-5 p-3 border-start border-info bg-dark">
      <b class="display-5">Fetching Steam profile...</b>
      <div class="lds-ring center float-end"><div></div><div></div><div></div><div></div></div>
    </div>
  </ng-container>

  <ng-container *ngIf="!loadingError && loggedIn">
      <div>
        <h5>Logged in as {{currentSteamUser.personaname}}</h5>
        <img src="{{currentSteamUser.avatarfull}}"/>
        <h4 class="text-primary">Filters</h4>

            <label for="filter-checkbox">Filter to only games everyone owns?</label>
            <input (change)="updateFilter($event)" type="checkbox" id="filter-checkbox"/>

        <div class="row">
          <app-game-list class="col-8" [steamID]="steamID" [sessionID]="sessionID" [personaname]="currentSteamUser.personaname ?? ''"></app-game-list>
          <app-friends-list class="col-4" [steamID]="steamID" [sessionID]="sessionID" [maxFriendsToShow]="6"></app-friends-list>
        </div>
      </div>
  </ng-container>

  <ng-template *ngIf="loadingError">
    <div class="my-5 p-3 border-start border-warning bg-dark">
      <p><b>There was a problem loading this Steam profile's information.</b></p>
    </div>
  </ng-template>
</div>
