
<div *ngIf="!noGameList; else problem_loading">
    <div class="container-fluid w-100 my-5">

        <ng-container *ngIf="ready; else loading">

            <div class="my-2">
                <h3 class="text-center d-inline">Game List For</h3>
                <h3 class="d-inline" *ngFor="let item of currentUsers">
                    {{item.personaname + " "}} 
                </h3>
            </div>

            <ng-container *ngIf="currentUsers.length > 1">
                <div class="d-block">

                    <div class="d-inline-block">

                        <p class="m-0">Filter by owner: </p>
                        <ul class="list-inline list-group-horizontal mb-2">
                            <li tabindex="0" (keydown.enter)="updateFilter(selectAll)" (click)="updateFilter(selectAll)" 
                            class="list-inline-item {{(selectAll.checked) ? 'bg-secondary' : 'bg-dark'}} text-bg-primary text-end me-1 p-2 select-owner-filter">
                                <a role="button" class="link link-info table-link mx-1">{{(selectAll.checked) ? "x" : "+"}}</a>
                                <label for="everyone">{{(selectAll.checked) ? "Deselect All" : "Select All"}}</label>
                                <input #selectAll tabindex="-1" class="ms-1 me-2 p-2 visually-hidden" id="everyone" type="checkbox"/>
                            </li>
                            
                            <li tabindex="0" (keydown.enter)="updateFilter(selectUser)" (click)="updateFilter(selectUser)" 
                            class="list-inline-item {{(selectUser.checked) ? 'bg-secondary' : 'bg-dark'}} text-bg-primary owners text-end me-1 p-2 select-owner-filter" *ngFor="let user of currentUsers">
                                <a role="button" class="link link-info table-link mx-1">{{(selectUser.checked) ? "x" : "+"}}</a>
                                <label for="{{user.personaname}}-filter">{{user.personaname}}</label>
                                <input #selectUser tabindex="-1" class="ms-1 me-2 individual-owner visually-hidden"  type="checkbox" id="{{user.steamid}}"/>
                                <br class="d-lg-none d-block"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </ng-container>

            <div class="search float-start">
                <input class="search-bar" id="game-search" placeholder="Search for a game..." autocomplete="off" (keyup)="searchEvent($event)"/>
            </div>

            <table class="table table-dark table-striped table-hover" id="accordion-table">
                <tr>
                    <th class="pointer border-bottom text-center d-none d-lg-table-cell" (click)="sortList('appid', true)" [innerText]="appIDString"></th>
                    <th class="pointer border-bottom text-center" (click)="sortList('gamename', true)" [innerText]="gameNameString"></th>
                    <th class="border-bottom text-center d-none d-md-table-cell">Owned By:</th>
                    <th class="border-bottom text-center d-none d-xxl-table-cell">Total Playtime</th>
                    <th class="store-page-header border-bottom text-center d-none d-md-table-cell">Store Page</th>
                    <th class="pointer border-bottom text-center"></th>
                </tr>
                <tbody>
                        <ng-container id="accordion-parent" *ngFor="let item of currentGameList.games">
                            <tr tabindex="0" id="{{item.appid}}" role="button" class="pointer" (keyup.enter)="toggleExpanded(item.appid)" (click)="toggleExpanded(item.appid)">
                                <td class="d-lg-table-cell d-none">{{item.appid}}</td>
                                <td><img *ngIf="item.img_icon_url != ''" src="https://media.steampowered.com/steamcommunity/public/images/apps/{{item.appid}}/{{item.img_icon_url}}.jpg"/> {{item.name}}</td>
                                <td class="d-none d-md-table-cell"><div class="every-third" *ngFor="let user of item.owners"><img title="{{user.name.personaname}}" src="{{user.name.avatar}}" height="25" width="25"/></div></td>
                                <td class="d-none align-middle text-center d-xxl-table-cell">{{math.trunc(item.total_playtime)}} hr(s)</td>
                                <td class="text-center align-middle d-none d-md-table-cell"><a aria-label="Store Page Link" class="link-info link table-link" (click)="redirectToStorePage(item.appid)">&#x29c9;</a></td>
                                <td class="text-center align-middle text-muted font-monospace">&#9654;</td>    
                            </tr>
                            <tr tabindex="0" *ngIf="item.expanded" (keyup.enter)="toggleExpanded(item.appid)" class="align-middle">
                                <td class="my-5" colspan="6">
                                    <h5 class="text-center text-muted m-auto">{{item.name}}</h5>
                                    <div class="align-center">
                                        <div class="float-end" *ngFor="let user of item.owners"><img class="every-third" title="{{user.name.personaname}}" src="{{user.name.avatar}}" height="40" width="40"/></div>
                                        <p class="mx-2">Combined playtime: {{math.trunc(item.total_playtime)}} hour(s).</p>
                                    </div>
                                    <div class="align-center center">
                                        <span class="d-inline-block m-5" *ngFor="let owner of item.owners">
                                            <p>{{owner.name.personaname}}: {{math.trunc(owner.playtime)}} hour(s)</p>
                                            <div class="w-25 graph-bg m-auto d-flex align-items-end">
                                                <div class="w-100 bg-primary graph-bar" [style.height.vh]="(owner.playtime/item.total_playtime) * 20"></div>
                                            </div>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                </tbody>
            </table>
            
            <p aria-label="Game Count" class="text-muted text-end">Showing games {{math.min((currentPage - 1) * 15 + 1, currentGameList.game_count ?? 0)}}-{{math.min(currentPage * 15, currentGameList.game_count ?? 0)}} of {{currentGameList.game_count}}</p>
            
            <nav class="d-none d-lg-block" aria-label="Game List Navigation">
                <ul class="pagination pagination-lg justify-content-center">
                    <li tabindex="0" (keyup.enter)="currentPage = 1; changePage(currentPage)" class="page-item {{linkArray[0] == 1 ? 'disabled hidden' : ''}}"><a class="page-link" 
                        (click)="currentPage = 1; changePage(currentPage)">First (1)</a>
                    </li>
                    
                    <li tabindex="0" (keyup.enter)="currentPage = n; changePage(currentPage)" class="page-item {{n == currentPage ? 'disabled' : ''}}" *ngFor="let n of linkArray;">
                        <a class="page-link" (click)="currentPage = n; changePage(currentPage)">{{n}}</a>
                    </li>
                    
                    <li tabindex="0" (keyup.enter)="currentPage = numberOfPages; changePage(currentPage)" class="page-item {{linkArray[linkArray.length - 1] == numberOfPages ? 'disabled hidden' : ''}}"><a class="page-link" 
                        (click)="currentPage = numberOfPages; changePage(currentPage)">Last ({{numberOfPages}})</a>
                    </li>
                </ul>
            </nav>
            <nav class="d-lg-none" aria-label="Game List Navigation">
                <ul class="pagination justify-content-center">
                    <li tabindex="0" (keyup.enter)="currentPage = 1; changePage(currentPage)" class="page-item {{linkArray[0] == 1 ? 'disabled hidden' : ''}}"><a class="page-link" 
                        (click)="currentPage = 1; changePage(currentPage)">First (1)</a>
                    </li>
                    
                    <li tabindex="0" (keyup.enter)="currentPage = n; changePage(currentPage)" class="page-item {{n == currentPage ? 'disabled' : ''}}" *ngFor="let n of linkArray;">
                        <a class="page-link" (click)="currentPage = n; changePage(currentPage)">{{n}}</a>
                    </li>
                    
                    <li tabindex="0" (keyup.enter)="currentPage = numberOfPages; changePage(currentPage)" class="page-item {{linkArray[linkArray.length - 1] == numberOfPages ? 'disabled hidden' : ''}}"><a class="page-link" 
                        (click)="currentPage = numberOfPages; changePage(currentPage)">Last ({{numberOfPages}})</a>
                    </li>
                </ul>
            </nav>
        </ng-container>

        <ng-template #loading>
            <div class="my-5 p-3 border-start border-info bg-dark">
                <b class="display-5">Updating Game List...</b>
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
        </ng-template>

    </div>
</div>
                
<ng-template #problem_loading> 
    <div class="my-5 p-3 border-start border-warning bg-dark">
        <p><b>There was a problem loading this Steam profile's game list.</b>   Ensure the profile has its visibility set to public.</p>
    </div>
</ng-template>
