
<div *ngIf="!noGameList; else problem_loading">
    <div class="container-fluid w-100 my-5">

        <ng-container *ngIf="ready; else loading">

            <h3 class="text-center d-inline">Game List For</h3>
            <h3 class="d-inline" *ngFor="let item of currentUsers">
                {{item.personaname + " "}} 
            </h3>

            <div class="search float-end">
                <input class="search-bar w-100" id="game-search" placeholder="Search for a game..." autocomplete="off" (keyup)="searchEvent($event)"/>
            </div>

            <table class="table table-dark table-striped table-hover" id="accordion-table">
                <th class="pointer border-bottom text-center d-none d-lg-table-cell" (click)="sortList('appid', true)" [innerText]="appIDString"></th>
                <th class="pointer border-bottom text-center" (click)="sortList('gamename', true)" [innerText]="gameNameString"></th>
                <th class="border-bottom text-center d-none d-lg-table-cell">Owned By:</th>
                <th class="store-page-header border-bottom text-center">Store Page</th>
                <th class="pointer border-bottom text-center"></th>
                <tbody>
                        <ng-container id="accordion-parent" *ngFor="let item of currentGameList.games">
                            <tr class="pointer" (click)="toggleExpanded((item.appid))">
                                <td class="d-lg-table-cell d-none">{{item.appid}}</td>
                                <td><img *ngIf="item.img_icon_url != ''" src="https://media.steampowered.com/steamcommunity/public/images/apps/{{item.appid}}/{{item.img_icon_url}}.jpg"/> {{item.name}}</td>
                                <td class="d-none d-lg-table-cell"><div class="every-third" *ngFor="let user of item.owners"><img src="{{user.name.avatar}}" height="25" width="25"/></div></td>
                                <td class="text-center align-middle"><a aria-label="Store Page Link" class="link-info link table-link" (click)="redirectToStorePage(item.appid)">&#x29c9;</a></td>
                                <td class="text-center align-middle text-muted font-monospace">&#9654;</td>    
                            </tr>
                            <tr *ngIf="item.expanded" class="align-middle">
                                <td class="my-5" colspan="5">
                                    <h5 class="text-center text-muted m-auto">{{item.name}}</h5>
                                    <div class="align-center">
                                        <div class="float-end" *ngFor="let user of item.owners"><img class="every-third" src="{{user.name.avatar}}" height="40" width="40"/></div>
                                        <p class="mx-2">Combined playtime: {{math.trunc(item.playtime_forever ?? 0)}} hour(s).</p>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                </tbody>
            </table>
            
            <p class="text-muted text-end">Showing games {{math.min((currentPage - 1) * 15 + 1, currentGameList.game_count ?? 0)}}-{{math.min(currentPage * 15, currentGameList.game_count ?? 0)}} of {{currentGameList.game_count}}</p>
            
            <nav class="d-none d-lg-block" aria-details="Game List Navigation">
                <ul class="pagination pagination-lg justify-content-center">
                    <li class="page-item {{linkArray[0] == 1 ? 'disabled hidden' : ''}}"><a class="page-link" 
                        (click)="currentPage = 1; changePage(currentPage)">First (1)</a>
                    </li>

                    <li class="page-item {{n == currentPage ? 'disabled' : ''}}" *ngFor="let n of linkArray;">
                        <a class="page-link" (click)="currentPage = n; changePage(currentPage)">{{n}}</a>
                    </li>
                        
                    <li class="page-item {{linkArray[linkArray.length - 1] == numberOfPages ? 'disabled hidden' : ''}}"><a class="page-link" 
                            (click)="currentPage = numberOfPages; changePage(currentPage)">Last ({{numberOfPages}})</a>
                    </li>
                </ul>
            </nav>
            <nav class="d-lg-none">
                <ul class="pagination pagination-sm justify-content-center">
                    <li class="page-item {{linkArray[0] == 1 ? 'disabled hidden' : ''}}"><a class="page-link" 
                        (click)="currentPage = 1; changePage(currentPage)">First (1)</a>
                    </li>
                    
                    <li class="page-item {{n == currentPage ? 'disabled' : ''}}" *ngFor="let n of linkArray;">
                        <a class="page-link" (click)="currentPage = n; changePage(currentPage)">{{n}}</a>
                    </li>
                    
                    <li class="page-item {{linkArray[linkArray.length - 1] == numberOfPages ? 'disabled hidden' : ''}}"><a class="page-link" 
                        (click)="currentPage = numberOfPages; changePage(currentPage)">Last ({{numberOfPages}})</a>
                    </li>
                </ul>
            </nav>
        </ng-container>

        <ng-template #loading>
            <div class="my-5 p-3 border-start border-info bg-dark">
                <b class="display-5">Updating Game List...</b>
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
        </ng-template>

    </div>
</div>
                
<ng-template #problem_loading> 
    <div class="my-5 p-3 border-start border-warning bg-dark">
        <p><b>There was a problem loading this Steam profile's game list.</b>   Ensure the profile has its visibility set to public.</p>
    </div>
</ng-template>
